html, body {
	width:100%;
	height:100%;

	margin:0;
	padding:0;

	overflow:hidden;
	position: static;
	
	background: white;	
}

html {
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	text-size-adjust: none;
}

h1,h2,h3,h4,text,p {
	-webkit-font-smoothing: antialiased;
	-moz-osx-webkit-font-smoothing: antialiased;
}

button {
	border: none;
	background: white;
}

/*
*:not(input):not(textarea) {
  -webkit-user-select: none;
  -webkit-touch-callout: none;
} 
*/

button:focus {outline:0;}

.ui {
	position: fixed;
	width: 100%;
	height: 100%;
	display: flex;
}

.button {
	float:left;
}

.button-container {
	width: 50%;
	height: 100%;
}

.button-left {
	width: 25%;
}

.button-right {
	width: 25%;
}

.button-top {
	width: 100%;
	height:50%;
	float:left;
	background: rgba(255, 255, 200, 1);
}

.button-down {
	width: 100%;
	height:50%;
	float:left;
	background: rgba(200, 200, 255, 1);
}
